*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Styling For Index.html*/

.navigation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #FAF8FF;
  border-bottom: 2px solid black;

}

.right-section, .left-section {
  display: flex;
  align-items: center;
}

 .left-section h1 {
  font-size: 2em;
  margin-left: 20px;
}

.right-section a {
  font-size: 1.4em;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

/* Search box styling */
.box{
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: #6F74FB;
  border-radius: 60px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  margin-right: 20px;
}

.box:hover input{
  width: 400px;
}

.box:hover{
  border-radius: 10px;
}

.box input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;

}
.box .fa{
  color:#fff;
  font-size: 19px;
}

.box input::placeholder {
  color: #fff; /* Placeholder text color */
}

/* Profile icon styling */
.profile-icon {
  position: relative;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile p {
  margin: 0;
  font-size: 1em;
  color: #333;
  text-align: center;
}

.icon{
  width: 80px;
  height: 80px;
}

/* Slider styling */
.swiper-container {
  width: 100%;
  background-color: #0056b3;
  padding: 30px;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slide-image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.slide-text {
  max-width: 50%;
}

.slide-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.slide-text p {
  margin-bottom: 5px;
  font-size: 1rem;
}

/* Swiper Navigation Buttons */
.swiper-button-next, .swiper-button-prev {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* Swiper Pagination */
.swiper-pagination {
  bottom: 10px;
  text-align: center;
}



/* Styling for creator.html   Created by: Sairam (S10259930H)*/ 
.educator-navigation-sidebar {
  width: 400px;
  height: 100vh;
  background-color: #FAF8FF;
  color: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
}

.educator-navigation-sidebar-header {
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

.educator-navigation-sidebar a {
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.educator-navigation-sidebar a:hover {
  background-color:  #42459b;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 350px;
}

.educator-navigation-sidebar a.active {
  background-color: #6F74FB;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 350px;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 400px; 
  margin-right: 50px;
  padding: 20px;
}

.top-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 20px;
  width:  100%;
}

.top-content h1 {
  font-size: 2em;
  color: #333;
  margin: 0;
}

.top-content button {
  font-size: 1em;
  padding: 10px 20px;
  background-color:  #6F74FB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.top-content button:hover {
  background-color: #42459b;;
}
.main-container{
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 15px;
}

.main-container .educator-course-card {
  transition: transform 0.3s ease;
  background-color: #FAF8FF;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 250px;
  height: 430px;
  border: 1px solid black
}

.educator-course-card:hover {
  transform: scale(1.05);
}

.educator-course-card-img-top{
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #ddd;
}

.educator-course-card-body {
  padding: 15px;
}

.educator-course-card-title {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #333;
}

.educator-course-card-description {
  color: #666;
  font-size: 0.9em;
}

.educator-course-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.educator-course-view-button {
  margin-bottom: 15px;
  padding: 5px 10px;
  background-color:  #6F74FB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.educator-course-view-button:hover {
  background-color: #42459b;;
}

.educator-course-label {
  display: inline-block;
  padding: 5px 10px;
  background-color: #6F74FB;
  color: white;
  border-radius: 4px;
  font-size: 1.0em;
  margin-bottom: 10px;
}


/* Style for login and signup page Created by: Guan Quan (S10257285A) */

.login-signup{
  width: 100vw;
  height: 100vh;
  background-color: #FAF8FF;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-wrapper {
  width: 550px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

@media screen and (max-width: 768px) {
  .login-signup-wrapper {
      width: 80%;
      
  }
}

.login-signup-header{
  width: fit-content;
  margin: 20px 0 10px;

  font-size: 40px;
  font-weight:bolder;
  color: #6F74FB;
  text-align: center;
}

.login-signup-subheader{
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 650;
  color: black;
  text-align: center;
}


.login-signup-form{
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-party-login-signup-btn{
  height: 3.75rem;
  padding: 0 .75rem;
  margin: 15px 0;

  background-color: white;
  border: 3px solid #6F74FB;
  border-radius: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third-party-login-signup-btn:hover{
  transform: translateY(-4px);
  box-shadow: 0 5px 8px rgba(0,0,0,0.5);

  transition: all 0.3s ease;
}

.third-party-login-signup-btn div{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

}

.third-party-login-signup-btn img{
  height:70%;
  
  position: relative;
}

/* Styling for floating form inputs */
.form-floating{
  margin: 15px 0;
  padding: 0;
}


.selection-option{
  width: fit-content;
  height: fit-content;
  margin: 0;
  
  font-size: 18px;
  font-weight: 600;
  color: black;
}

/* Styling for form inputs */
.form-floating input{
  font-weight: 600;
  border: 3px solid #6F74FB;

  transition: all 0.3s ease;
}
.form-floating input:focus{
  font-weight: 600;
  border: 3px solid #6F74FB;
  box-shadow: 0 0 10px #6F74FB;

  transition: all 0.3s ease;
}

/* Styling for icons inside form inputs */
.form-floating i{
  font-size: 20px;
  color: #6F74FB;
  position: absolute;
  top: 0%;
  left: calc(100% - 35px);
  transform: translateY(-50%);
}

.loginsignup-validation-error{
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;

  font-size: 15px;
  font-weight: bold;
  color: red;
  text-align: center;

  visibility: hidden;
}

/* Border styling for error and success */
.login-signup-form input.error {
  border: 3px solid rgb(255, 0, 0);
}
.login-signup-form input.success {
  border: 3px solid rgb(0, 190, 25);
}

.login-signup-buttons.btn.rounded-pill.col-12{
  padding: 7px 0;
  background-color: #6F74FB;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.login-signup-buttons.btn.rounded-pill.col-12:hover{
  transform: translateY(-4px);
  box-shadow: 0 5px 8px rgba(0,0,0,0.5);

  transition: all 0.3s ease;
}

#login-forget-password{
  width: fit-content;
  height: fit-content;
  margin: 5px 0;
  
  font-size: 15px;
  font-weight: bold;
  color: #6F74FB;
}

.login-signup-link{
  width: fit-content;
  height: fit-content;
  margin: 5px 0;
  text-align: center;
}

#login-forget-password, .login-signup-link a{
  color: #6F74FB;
  font-weight: bold;
  text-decoration: none;
}

#login-forget-password:hover, .login-signup-link a:hover{
  text-decoration: underline;
}

/* End of login and signup style */





