  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
/* Styling For Index.html*/

/* Basic styling for the navigation panel  Created by: Sairam (S10259930H)*/
.navigation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #FAF8FF;
  border-bottom: 2px solid black;

}

.right-section, .left-section {
  display: flex;
  align-items: center;
}

 .left-section h1 {
  font-size: 2em;
  margin-left: 20px;
}

.right-section a {
  font-size: 1.4em;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

/* Search box styling */
.box{
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: #6F74FB;
  border-radius: 60px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  margin-right: 20px;
}

.box:hover input{
  width: 400px;
}

.box:hover{
  border-radius: 10px;
}

.box input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;

}
.box .fa{
  color:#fff;
  font-size: 19px;
}

.box input::placeholder {
  color: #fff; /* Placeholder text color */
}

/* Profile icon styling */
.profile-icon {
  position: relative;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile p {
  margin: 0;
  font-size: 1em;
  color: #333;
  text-align: center;
}

.icon{
  width: 80px;
  height: 80px;
}

/* Slider styling */
.swiper-container {
  width: 100%;
  background-color: #0056b3;
  padding: 30px;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slide-image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.slide-text {
  max-width: 50%;
}

.slide-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.slide-text p {
  margin-bottom: 5px;
  font-size: 1rem;
}

/* Swiper Navigation Buttons */
.swiper-button-next, .swiper-button-prev {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* Swiper Pagination */
.swiper-pagination {
  bottom: 10px;
  text-align: center;
}



/* Styling for creator.html   Created by: Sairam (S10259930H)*/ 
  .sidebar {
    width: 400px;
    height: 100vh;
    background-color: #FAF8FF;
    color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
  }

  .sidebar-header {
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }

  .sidebar a {
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    cursor: pointer;
    outline: none;
  }

  .sidebar a:hover {
    background-color:  #42459b;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 350px;
  }

  .sidebar a.active {
    background-color: #6F74FB;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 350px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    margin-left: 400px; 
    margin-right: 50px;
    padding: 20px;
  }

  .top-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px;
    width:  100%;
  }

  .top-content h1 {
    font-size: 2em;
    color: #333;
    margin: 0;
  }

  .top-content button {
    font-size: 1em;
    padding: 10px 20px;
    background-color:  #6F74FB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .top-content button:hover {
    background-color: #42459b;;
  }
  .main-container{
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 15px;
  }

  .main-container .card {
    transition: transform 0.3s ease;
    background-color: #FAF8FF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    height: 420px;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-img-top,{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
  }

  .card-description {
    color: #666;
    font-size: 0.9em;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #FAF8FF;
  }

  .view-button {
    padding: 5px 10px;
    background-color:  #6F74FB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .view-button:hover {
    background-color: #42459b;;
  }

  .label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #6F74FB;
    color: white;
    border-radius: 4px;
    font-size: 1.0em;
    margin-bottom: 10px;
  }
  .sub-container{
    padding: 10px;
    background-color: #FAF8FF;
    border: 2px solid black;
    border-radius: 10px;
  }
  .first-row{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center;
  }
  .first-left-container{
    height: 240px;
  }
  .second-row, .first-right-container{
    height: auto;
  }
  .course-icon{
    width: 100%;
    height: auto;
    border: 1px solid black;
  }
  .course-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width:  100%;
    margin-bottom: 20px;
  }
  .Tag {
    width: 100%;
    margin-bottom: 20px;
  }

  .Tag h3{
    text-align: left;
    font-size: 1.2em;
    color: #717171;
    margin: 0;
    font-weight: 700;
  }

  .Tag span{
    font-size: 0.9em;
    margin: 0;
    font-weight: 450;
  }

  .course-header h2 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px solid black;
    margin: 0;
  }

  .word-link p{
    font-size: 1em;
    color: #6F74FB;
    transition: border-color 0.3s ease;
    cursor: pointer;
    margin: 0;
  }
  .word-link p:hover {
    border-bottom: 2px solid #6F74FB;
  }

  /* Popup content in creator.html*/
  .popup {
    display: none;
    position: fixed; 
    z-index: 9; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

  .popup-content {
    background-color:  #FAF8FF;
    padding: 20px;
    width: 80%;
    margin: 8% 10%;
    border-radius: 30px;
  }

  /* Close button */
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

    /* Form for Course Update  Created by: Sairam (S10259930H) */
  .form-label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }





